
<div class="table-responsive" id="user-table-container">
    <table class="table table-striped table-hover table-bordered table-responsive-md align-middle">
    <thead>
        <tr>
            <th>Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>CreatedAt</th>
            <th>Role</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{range .Users}}
        <tr id="user-row-{{.ID}}">
            <td>{{.Username }}</td>
            <td>{{.FirstName }}</td>
            <td>{{.LastName }}</td>
            <td>{{ .Email }}</td>
            <td>{{.CreatedAt.Format "02 Jan 2006"}}</td>
            <td>
                {{if eq .RoleID 1}}
                    User
                {{else if eq .RoleID 2}}
                    Admin
                {{else}}
                    Unknown
                {{end}}
            </td>
            <td>
                <button class="btn btn-danger" hx-delete="/delete-user/{{.ID}}"
                    hx-confirm="Are you sure you want to delete this user?" hx-target="#user-row-{{.ID}}"
                    hx-swap="#user-row-{{.ID}}">Delete</button>
            </td>

        </tr>
        {{end}}
    </tbody>
</table>

</div>

<!-- Add Pagination -->

<div id="pagination-container" class="col-12 d-flex justify-content-center">
        
    {{ $totalPages := .TotalPages }}
    {{ $currentPage := .CurrentPage  }}
  
    {{ $searchQuery := .SearchQuery }}

    <!-- ... Other variables ... -->

    <nav class="container d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination justify-content-start flex-wrap mb-0 col-md-12 ">
            <!-- ... Other pagination links prev and next ... -->

            <!--- add prev and next buttons -->
            <li class="page-item {{if eq $currentPage 1}}disabled{{end}}">
               
                <a class="page-link" href="/search-users?page={{sub $currentPage 1}}&query={{$searchQuery}}"
                    hx-get="/search-users?page={{sub $currentPage 1}}&query={{$searchQuery}}"
                    hx-target="#user-table-container">
                    Previous
                </a>
                
            </li>


            <li class="page-item {{if eq $currentPage $totalPages}}disabled{{end}}">
               
                <a class="page-link" href="/search-users?page={{add $currentPage 1}}&query={{$searchQuery}}"
                    hx-get="/search-users?page={{add $currentPage 1}}&query={{$searchQuery}}"
                    hx-target="#user-table-container">
                    Next
                </a>
               
            </li>

            
            <!-- Dynamically set hx-get based on whether it's a search result -->
            {{ range $i := sequence 1 $totalPages }}
            <li class="page-item {{if eq $i $currentPage}}active{{end}}">
              
                <a class="page-link" href="/search-users?page={{$i}}&query={{$searchQuery}}"
                   hx-get="/search-users?page={{$i}}&query={{$searchQuery}}"
                   hx-target="#user-table-container">
                    {{$i}}
                </a>
      
            </li>
            {{ end }}
        </ul>
    </nav>
</div>
