<div class="row">
    <div class="col-md-3 mt-3">
        <h6 class="text-primary">Admin Panel</h6>
        <hr>

        <div class="nav flex-column nav-pills shadow" id="admin-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#table" role="tab"
                    aria-controls="table" hx-get="/search-users" hx-trigger="load" load-indicator="dots"
                    hx-target="#user-table-container" hx-swap="innerHTML" aria-selected="true"><i
                        class="bi bi-people"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="post-tab" data-bs-toggle="tab" href="#post" role="tab" aria-controls="post"
                    hx-get="/search-posts" hx-trigger="click" hx-target="#post-table-container" hx-swap="innerHTML"
                    hx-headers='{"X-No-Cache": "true"}' load-indicator="dots" aria-selected="false"><i
                        class="bi bi-journal-text"></i> Posts </a>

            </li>


            <li class="nav-item">
                <a class="nav-link" id="tags-tab" data-bs-toggle="tab" href="#tags" role="tab" aria-controls="tags"
                    hx-get="/search-tags" hx-trigger="click" hx-target="#tag-table-container" hx-swap="innerHTML"
                    hx-headers='{"X-No-Cache": "true"}' load-indicator="dots" aria-selected="false"><i
                        class="bi bi-tag"></i>
                    Tags</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="categories-tab" data-bs-toggle="tab" href="#categories" role="tab"
                    hx-get="/search-categories" hx-trigger="click" hx-target="#category-table-container"
                    hx-swap="innerHTML" hx-headers='{"X-No-Cache": "true"}' load-indicator="dots"
                    aria-controls="categories" aria-selected="false"><i class="bi bi-grid"></i>
                    Categories</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#comments" role="tab"
                    hx-get="/search-comments" hx-headers='{"X-No-Cache": "true"}' hx-trigger="click"
                    hx-target="#comment-table-container" hx-swap="innerHTML" load-indicator="dots"
                    aria-controls="comments" aria-selected="false"><i class="bi bi-chat-dots"></i> Comments</a>

            </li>

            <li class="nav-item">
                <a class="nav-link" id="custompages-tab" data-bs-toggle="tab" href="#custompages" role="tab"
                    hx-get="/search-custompages" hx-trigger="click" hx-target="#custompage-table-container"
                    hx-swap="innerHTML" hx-headers='{"X-No-Cache": "true"}' load-indicator="dots"
                    aria-controls="custompages" aria-selected="false"><i class="bi bi-file-earmark"></i>
                    Custom Pages</a>

            </li>

            <!-- Menu management -->
            <li class="nav-item">
                <a class="nav-link" id="menu-tab" data-bs-toggle="tab" href="#menu" role="tab" aria-controls="menu"
                    hx-get="/search-menu" hx-trigger="click" hx-target="#menu-table-container" hx-swap="innerHTML"
                    hx-headers='{"X-No-Cache": "true"}' load-indicator="dots" aria-selected="false"><i
                        class="bi bi-list"></i>
                    Menu</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-bs-toggle="tab" href="#settings" role="tab"
                    aria-controls="settings" hx-get="/admin-settings" hx-trigger="click" hx-target="#settings-container"
                    hx-swap="innerHTML" hx-headers='{"X-No-Cache": "true"}' load-indicator="dots" aria-selected="false">
                    <i class="bi bi-gear"></i> Settings
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" id="filemanager-tab" data-bs-toggle="tab" href="#filemanager" role="tab"
                    hx-get="/search-files" hx-trigger="click" hx-target="#file-list-conatiner" hx-swap="innerHTML"
                    hx-headers='{"X-No-Cache": "true"}' load-indicator="dots" aria-controls="filemanager"
                    aria-selected="false"><i class="bi bi-folder"></i> File
                    Manager</a>
            </li>
 
            <li class="nav-item">
    
                <a class="nav-link" id="plugins-tab" data-bs-toggle="tab" href="#plugins" role="tab" aria-controls="plugins"
                    hx-get="/search-plugins" hx-trigger="click" hx-target="#plugins-container" hx-swap="innerHTML"
                    hx-headers='{"X-No-Cache": "true"}' load-indicator="dots" aria-selected="false">
                    <i class="bi bi-puzzle"></i> Plugins / Enabled: <span class="text-success">{{.EnabledPlugins}}</span>
                </a>

            </li>
            </ul>
        </div>
        <hr>


    </div>
    <div class="col-md-9 mt-3">

        <!-- Tab panes -->
        <div class="tab-content" id="admin-tabs-content">
            <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                <div class="container">
                    <div class="row justify-content-between">

                        <div class="col">
                            <h2 class="text-primary">Users</h2>
                        </div>
                        <div class="col-auto">
                            <a href="/admin/user/add" class="btn btn-primary" target="_blank">
                                Add New User
                            </a>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <input type="text" id="search-input" placeholder="Search users..." class="form-control"
                                hx-get="/search-users" hx-trigger="keyup delay:500ms changed"
                                hx-target="#user-table-container" hx-headers='{"X-No-Cache": "true"}'
                                hx-vars="query:document.getElementById('search-input').value">
                            <div id="user-table-container"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="post-tab">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2 class="text-primary">Posts</h2>
                        </div>
                        <div class="col-auto">
                            <a href="/admin/post/add" class="btn btn-primary" target="_blank">
                                Add New Post
                            </a>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="text" id="search-input-post" placeholder="Search posts..." class="form-control"
                                hx-get="/search-posts" hx-trigger="keyup delay:500ms changed"
                                hx-target="#post-table-container" hx-headers='{"X-No-Cache": "true"}'
                                hx-vars="query:document.getElementById('search-input-post').value">
                            <div id="post-table-container"></div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="tags-tab">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2 class="text-primary">Tags</h2>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addTagModal">
                                Add New Tag
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <input type="text" id="search-input-tag" class="form-control" placeholder="Search tags..."
                                aria-label="Search tags" hx-get="/search-tags" hx-trigger="keyup delay:500ms changed"
                                hx-target="#tag-table-container"
                                hx-vars="query:document.getElementById('search-input-tag').value">

                        </div>
                    </div>

                    <div id="tag-table-container"><!-- Dynamic content --></div>

                    <div class="modal" id="addTagModal" tabindex="-1" aria-labelledby="addTagModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addTagModalLabel">Add New Tag</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <form hx-post="/add-tag" hx-trigger="submit" hx-swap="none"
                                                hx-headers='{"X-No-Cache": "true"}' hx-on::after-request="searchTags()">
                                                <div class="row g-3">
                                                    <div class="col-md-6">
                                                        <label for="tag_name" class="form-label">Tag Name:</label>
                                                        <input type="text" class="form-control" id="tag_name"
                                                            name="tag_name" required>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="tag_slug" class="form-label">Tag Slug:</label>
                                                        <input type="text" class="form-control" id="tag_slug"
                                                            name="tag_slug" required>
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <button type="submit" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Add
                                                        Tag</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2 class="text-primary">Categories</h2>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addCategoryModal">
                                Add New Category
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <input type="text" id="search-input-category" class="form-control"
                                placeholder="Search categories..." aria-label="Search categories"
                                hx-get="/search-categories" hx-trigger="keyup delay:500ms changed"
                                hx-target="#category-table-container"
                                hx-vars="query:document.getElementById('search-input-category').value"
                                hx-headers='{"X-No-Cache": "true"}'>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="category-table-container"><!-- Dynamic content --></div>
                        </div>
                    </div>
                    <!-- add modal and button to oppen it-->
                    <div class="modal" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <form hx-post="/add-category" hx-trigger="submit" hx-swap="none"
                                                hx-headers='{"X-No-Cache": "true"}'
                                                hx-on::after-request="searchCategories()">
                                                <div class="row g-3">
                                                    <div class="col-md-6">
                                                        <label for="category_name" class="form-label">Category
                                                            Name:</label>
                                                        <input type="text" class="form-control" id="category_name"
                                                            name="category_name" required>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="category_slug" class="form-label">Category
                                                            Slug:</label>
                                                        <input type="text" class="form-control" id="category_slug"
                                                            name="category_slug" required>
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <button type="submit" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Add Category</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="comments" role="tabpanel" aria-label="comments-tab">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2 class="text-primary">Comments</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="search-input-comment" placeholder="Search comments..."
                                class="form-control" hx-get="/search-comments" hx-trigger="keyup delay:500ms changed"
                                hx-target="#comment-table-container"
                                hx-vars="query:document.getElementById('search-input-comment').value"
                                hx-headers='{"X-No-Cache": "true"}'>
                            <div id="comment-table-container"></div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="custompages" role="tabpanel" aria-label="custompages-tab">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">

                            <h2 class="text-primary">Custom Pages</h2>
                        </div>
                        <div class="col-auto">
                            <a href="/add-custompage" class="btn btn-primary" target="_blank">
                                Add New Custom Page
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="search-input-custompage" placeholder="Search custom pages..."
                                class="form-control" hx-get="/search-custompages" hx-trigger="keyup delay:500ms changed"
                                hx-target="#custompage-table-container"
                                hx-vars="query:document.getElementById('search-input-custompage').value"
                                hx-headers='{"X-No-Cache": "true"}'>
                            <div id="custompage-table-container"></div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Menu management -->
            <div class="tab-pane fade" id="menu" role="tabpanel" aria-label="menu-tab">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-primary">Menu</h2>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="search-input-menu" placeholder="Search menu items..."
                                class="form-control" hx-get="/search-menu" hx-trigger="keyup delay:500ms changed"
                                hx-target="#menu-table-container"
                                hx-vars="query:document.getElementById('search-input-menu').value"
                                hx-headers='{"X-No-Cache": "true"}' hx-swap="innerHTML">
                            <div id="menu-table-container"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h2 class="text-primary">Settings</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div hx-get="/admin-settings" hx-target="#settings-container" hx-swap="innerHTML"
                                hx-headers='{"X-No-Cache": "true"}'></div>

                            <div id="settings-container"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="filemanager" role="tabpanel" aria-labelledby="filemanager-tab">
                <div class="container">

                    <div class="row">
                        <div class="col">
                            <h2 class="text-primary">File Manager</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form hx-post="/upload-file" enctype="multipart/form-data" hx-swap="none"
                                hx-trigger="submit" hx-headers='{"X-No-Cache": "true"}' id="upload-file-form"
                                
                                hx-on::after-request="updateFileList()">
                                <div class="mb-3">
                                    <label for="file" class="form-label">Choose File</label>
                                    <input type="file" class="form-control" name="file" id="file">
                                </div>
                                <div class="mb-3">
                                    <button id="upload-file" class="btn btn-primary" type="submit">Upload File</button>
                                </div>
                            </form>
                            <progress id='progress' value='0' max='100'></progress>

                            <script>
                                htmx.on('#upload-file-form', 'htmx:xhr:progress', function(evt) {
                                  htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
                                });
                            </script>
                            <hr>

                            <div class="mb-3">
                                <input type="text" id="search-input-files" placeholder="Search files..."
                                    class="form-control" hx-get="/search-files" hx-trigger="keyup delay:500ms changed"
                                    hx-target="#file-list-conatiner" hx-headers='{"X-No-Cache": "true"}'
                                    hx-vars="query:document.getElementById('search-input-files').value">
                            </div>

                            <hr>

                            <div id="file-list-conatiner"></div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- FILEPATH: /Volumes/SANDISK1TB/projekty_github/gox_cms/views/admin/admin.html -->
            <!-- BEGIN: ed8c6549bwf9 -->
            <div class="tab-pane fade" id="plugins" role="tabpanel" aria-labelledby="plugins-tab">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-primary">Plugins</h2>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {{range .Plugins}}
                        <div class="col mb-4">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">{{.Name}}</h5>
                                    <div class="card-text">
                                        <p class="text-muted">Author: {{.Author}}</p>
                                        <p class="text-muted">Version: {{.Version}}</p>
                                        <p class="text-muted">Description: {{.Description}}</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="plugin-{{.Name}}" class="btn {{ if .Enabled }}btn-danger{{ else }}btn-success{{ end }} mt-2 btn-plugin"
                                        hx-get="/admin/plugins/enable/{{.Name}}" hx-swap="outerHTML" hx-headers='{"X-No-Cache": "true"}'
                                        hx-confirm="Are you sure you want to {{ if .Enabled }}disable{{ else }}enable{{ end }} this plugin?"
                                        hx-target="#plugin-{{.Name}}">{{ if .Enabled }}Disable{{ else }}Enable{{ end }}</button>
                                    <a class="btn btn-primary mt-2" href="/{{.Name}}/admin/settings" target="_blank">Settings</a>

                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <!-- END: ed8c6549bwf9 -->

    </div>
</div>

<script>

    function updateFileList() {

        /// reset progress bar 
        htmx.find('#progress').setAttribute('value', 0) 
        htmx.find('#upload-file-form').reset()
        htmx.ajax('GET', '/search-files', {
            target: '#file-list-conatiner',
            headers: {
                'X-No-Cache': 'true'
            },
        });


    }

    function updateSettingsForm() {
        htmx.ajax('GET', '/admin-settings', {
            target: '#settings-container',
            swap: 'innerHTML',
            headers: {
                'X-No-Cache': 'true'
            },
        });
    }
    function searchTags() {
        htmx.ajax('GET', '/search-tags', {
            target: '#tag-table-container',
            headers: {
                'X-No-Cache': 'true'
            },
        });
    }

    function searchCategories() {
        htmx.ajax('GET', '/search-categories', {
            target: '#category-table-container',
            headers: {
                'X-No-Cache': 'true'
            }
        });
    }

</script>