<main>
    <div class="row">
        <div class="col-md-8 mt-3">
            <h1 class="display-6">Welcome to GoX CMS Demo!</h1>
            <p>
                Welcome to the GoX CMS, a dynamic and innovative content management system designed for developers and content creators alike. 
            </p>
            <p>
                The core philosophy behind GoX CMS is to provide a fast, secure, and developer-friendly platform. Unlike traditional CMS platforms, GoX leverages the concurrency model of Golang and the client-side enhancements of HTMX to offer a seamless and interactive user experience.
            </p>
            <p>
                Whether you're managing personal projects or looking to experiment with Golang and HTMX, GoX CMS provides a solid foundation for building and managing content-rich websites.
            </p>
            <p>
                While still in the development phase and not yet ready for production environments, GoX CMS invites curious minds and enthusiastic developers to explore its capabilities. Your feedback and contributions are invaluable as we work towards a stable release that meets the needs of the community.
            </p>

            <table class="table py-3 mb-4 mt-4">
                <thead>
                    <tr>
                        <th class="text-muted">Demo Admin Credentials:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username: <strong>admin1234</strong></td>
                    </tr>
                    <tr>
                        <td>Password: <strong>admin1234</strong></td>
                    </tr>
                </tbody>
            </table>

            <h2 class="mt-5 display-6">Technologies Used:</h2>
            <p>
                GoX CMS integrates a variety of cutting-edge technologies to ensure a robust and efficient web development experience:
            </p>
            <ul class="list-group py-3">
                <li class="list-group-item"><i class="bi bi-server"></i> Golang: High-performance server logic with easy concurrency.</li>
                <li class="list-group-item"><i class="bi bi-speedometer2"></i> Fiber: Efficient, minimalistic Golang web framework.</li>
                <li class="list-group-item"><i class="bi bi-hdd-stack"></i> GORM: Simplified database operations with ORM.</li>
                <li class="list-group-item"><i class="bi bi-lightning-charge"></i> HTMX: Dynamic content updates without JavaScript.</li>
                <li class="list-group-item"><i class="bi bi-layout-text-window-reverse"></i> Bootstrap 5 & BootsWatch: Responsive design and themes.</li>
                <li class="list-group-item"><i class="bi bi-pencil-square"></i> Quill.js: Enhanced rich text editing capabilities.</li>
                <li class="list-group-item"><i class="bi bi-hdd-network"></i> Redis: Fast, scalable caching to improve performance.</li>
            </ul>
            <p>
                As you explore the GoX CMS, you'll discover how these technologies work together to create a seamless and efficient web development experience. Feel free to dive into the different sections of the website to learn more about how GoX CMS can enhance your projects.
            </p>
            <p>
                Your exploration and feedback are crucial to the growth of GoX CMS. Join us in refining and expanding this platform, making it the go-to choice for developers seeking a modern, efficient CMS solution. Whether through contributing code, reporting bugs, or suggesting features, your involvement is warmly welcomed.
            </p>
        </div>
        <div class="col-md-4">
            {{template "partials/sidebar" .}}
        </div>
    </div>
</main>
