<div class="wrapper col-md-6">
    <h1> Login </h1>
    <div id="login-error" class="text-danger"></div>
    <hr>
    <!-- Login Form -->
    <form id="login-form" hx-post="/login" hx-target="#login-error" hx-swap="innerHTML">


    

        <!-- Input fields for login -->
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        {{ if eq .Settings.CaptchaEnabled "true" }}
            <div class="h-captcha" data-sitekey="{{.Settings.CaptchaSiteKey}}"></div>
        {{ end }}
            <button type="submit" class="btn btn-primary">
            Login
        </button>
    </form>

</div>