<div class="wrapper col-md-6">


<h1 >Register</h1>
<div id="login-error" class="text-danger"></div>
<hr>    
<!-- Registration Form -->
<form id="registration-form" hx-post="/register" hx-target="#login-error" hx-swap="innerHTML" enctype="application/x-www-form-urlencoded">
    <!-- Input fields for registration -->

    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>

    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>

    {{ if eq .Settings.CaptchaEnabled "true" }}
         <div class="h-captcha" data-sitekey="{{.Settings.CaptchaSiteKey}}"></div>
    {{ end }}
    <button type="submit" class="btn btn-primary">
        Register
    </button>
    
</form>


</div>