<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Menu</h5>
        </div>
        <div class="modal-body">
            <form hx-post="/edit-menu/{{ .Menu.ID }}" hx-target="#menu-table-container" hx-swap="none"
            hx-headers="{'X-No-Cache': 'true'}"
            hx-on::after-request="updateMenuList()">
                <input type="hidden" name="menu_id" value="{{ .Menu.ID }}">
                <div class="mb-3">
                    <label for="menu_title" class="form-label">Menu Title:</label>
                    <input type="text" class="form-control" id="menu_title" name="menu_title" value="{{ .Menu.Title }}"
                        required>
                </div>
                <div class="mb-3">
                    <label for="menu_primary" class="form-label">Primary Menu:</label>
                    <input type="checkbox" class="form-check-input" id="menu_primary" name="menu_primary" {{ if
                        .Menu.Primary }} checked {{ end }}>
                </div>
                <div class="mb-3">
                    <label for="menu_position" class="form-label">Menu Position:</label>
                    <input type="number" class="form-control" id="menu_position" name="menu_position"
                        value="{{ .Menu.Position }}" required>
                </div>
                <!-- Parent Menu Selection -->
                <div class="mb-3">
                    <label for="parent_id" class="form-label">Parent Menu (optional):</label>
                    <select class="form-select" id="parent_id" name="parent_id">
                        <option value="0" selected>None (top-level menu)</option>
                        {{ range .Menus }}
                     
                        <!-- Optionally filter out non-primary menus if they cannot have submenus -->
                        <option value="{{ .ID }}">{{ .Title }}</option>
                        {{ end }}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit Menu</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script>
    function updateMenuList() {

        htmx.ajax('GET', '/search-menu', {
            target: '#menu-table-container',
            swap: 'innerHTML',
            headers: {
                'X-No-Cache': 'true'
            },
        });
        
    }
</script>

