<div class="row">
    {{range .Posts}}
    <div class="col-sm-12 col-md-6 col-lg-6 mb-4"> 
        <div class="card mb-4 shadow-lg rounded-3 h-100 d-flex flex-row">
            <!-- Image Container -->
            <div class="image-container" style="flex: 0 0 33%; background-image: url('{{if .ImageURL}}{{.ImageURL}}{{else}}https://picsum.photos/seed/picsum/1200/600{{end}}'); background-size: cover; background-position: center; border-top-left-radius: .3rem; border-bottom-left-radius: .3rem;">
              <!-- Intentionally left blank to use as a background image container -->
            </div>
            
            <!-- Content Container -->
            <div class="card-body d-flex flex-column" style="flex: 1;">
              <h5 class="card-title">{{.Title}}</h5>
              <p class="card-text text-muted small">{{.CreatedAt.Format "02 Jan 2006"}}</p>
              <p class="card-text flex-grow-1">{{ removeHTML (truncate .Content 200) }}</p>
              <a href="/blog/post/{{.Slug}}" class="btn btn-primary btn-sm align-self-start">Read More</a>
              <hr>
              <div class="mt-2">
                <!-- Tags and Categories -->
                {{if .Tags}}
                <span class="badge bg-primary me-2">Tags:</span>
                {{range .Tags}}
                <a href="/blog/tag/{{.Slug}}" class="badge bg-secondary me-2">{{.Name}}</a>
                {{end}}
                {{else}}
                <!-- No tags found -->
                {{end}}

                {{if .Categories}}
                <span class="badge bg-primary me-2">Categories:</span>
                {{range .Categories}}
                <a href="/blog/category/{{.Slug}}" class="badge bg-secondary me-2">{{.Name}}</a>
                {{end}}
                {{else}}
                <!-- No categories found -->
                {{end}}
              </div>
            </div>
          </div>
    </div>
    {{end}}
</div>






<div class="row mb-2">
    <div class="col-md-12">
        {{if gt .CurrentPage 1}}
            <a href="/blog/{{.PrevPage}}" class="btn btn-primary px-3 me-2">Previous</a>
        {{end}}

        {{if lt .CurrentPage .TotalPagesInt }}
            <a href="/blog/{{.NextPage}}" class="btn btn-primary px-3">Next</a>
        {{end}}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center flex-wrap mb-0 col-12">
                {{range .TotalPages}}
                <li class="page-item {{if eq . $.CurrentPage}}active{{end}}">
                    <a class="page-link" href="/blog/{{.}}">{{.}}</a>
                </li>
                {{end}}
            </ul>
        </nav>
    </div>
</div>
