<div class="container py-5">
    <form id="addCustomPageForm" hx-post="/add-custompage" hx-target="#responseContainer" hx-swap="outerHTML">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>

            <!-- Create the toolbar container -->
            <div id="toolbar">
            
            </div>

            <!-- Create the editor container -->
            <div id="editor">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br /></p>
            </div>
            
            <input type="hidden" id="content_input" name="content">
        </div>
        
        <div class="mb-3">
            <label for="template" class="form-label">Template:</label>
            <select id="template" name="template" class="form-select" required>
                <option value="page">page</option>
                <option value="page_sidebar">page_sidebar</option>
                <option value="page_fullwidth">page_fullwidth</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="slug" class="form-label">Slug:</label>
            <input type="text" id="slug" name="slug" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Custom Page</button>
    </form>
    <div id="responseContainer"></div>
</div>



<!-- Include Select2 CSS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- Main Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<!-- Theme included stylesheets -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.bubble.css" rel="stylesheet" />

<!-- Initialize Quill editor -->
<style>
    .ql-editor.ql-blank::before {
        color: white;
    }
</style>

<script>
    const quill = new Quill("#editor", {
        modules: {
            toolbar: [
                [{ header: "1" }, { header: "2" }, { header: [3, 4, 5, 6] }, { font: [] }],
                [{ size: [] }],
                ["bold", "italic", "underline", "strike", "blockquote"],
                [{ list: "ordered" }, { list: "bullet" }, { indent: "-1" }, { indent: "+1" }],
                ["link", "image", "video"],
                ["clean"],
                ["code-block"],
                [{ color: [] }, { background: [] }], // Add color and background options
                [{ align: [] }], // Add alignment options
                ["formula"], // Add formula option
                ["emoji"] // Add emoji option
            ]
        },
        theme: "snow"
    });

    const quillContent = "{{ .Content }}";
    quill.root.innerHTML = quillContent;


    quill.on('text-change', function () {
        const contentInput = document.getElementById('content_input');
        contentInput.value = quill.root.innerHTML;
    });

    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();
        const contentInput = document.getElementById('content_input');
        contentInput.value = quill.root.innerHTML;
    });



</script>